<div class="upload-component">
  <div class="inputs">
    <div class="upload-left">
      <input class="file-input file"
          data-preview-file-type="text"
          type="file"/>
    </div>
    <div class="upload-right">
      <div class="country-input">
        <input class="country-field"
            placeholder="Where are you?"
            type="text"/>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="submit-button">
    <div class="button button-big upload">
      Submit
    </div>
  </div>
</div>
