@import "variables";
@import "mixins";

.carousel-component {

  .thumbnail-list {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    list-style-type: none;
    padding: 0;

    @media screen and (max-width: $carousel-responsive-limit) {
      height: 300px;
    }

    .carousel-item {
      display: inline-block;
      max-height: $carousel-height;
      height: $carousel-height;
      width: 30%;
      box-sizing: border-box;
      padding: 0;

      @media screen and (max-width: $carousel-responsive-limit) {
        max-height: 300px;
        width: 100%;

        &.hidden-mobile {
          display: none;
        }
      }

      .carousel-img {
        max-width: 100%;
        max-height: 100%;
        vertical-align: middle;
      }
    }
  }

  .pager {
    width: 100%;
    height: $button-height;
    display: inline-flex;
    position: relative;

    .previous {
      position: absolute;
      left: 0;
    }

    .next {
      position: absolute;
      right: 0;
    }
  }

}
