@import "variables";
@import "mixins";

.filter-component {
  background: $gray;
  width: $filter-width;
  position: absolute;
  top: $header-height;
  left: 0;
  height: calc(100% - #{$header-height});
  z-index: 50;

  @include box-shadow($border-size, $border-size);

  @media screen and (max-width: 400px) {
    width: $filter-width-responsive;
  }
}
