@import "variables";
@import "mixins";

.header-component {
  color: $white;
  background: $dark-gray;
  width: 100%;
  height: $header-height;
  position: relative;
  line-height: $header-height;
  text-align: center;
  z-index: 100;

  @include box-shadow($border-size, 0);

  .filter-button {
    color: $gray;
    background: $darker-gray;
    height: $header-height;
    width: $header-height;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;

    &:hover {
      color: $white;
      background: $green;
      cursor: pointer;

      @include box-shadow($border-size, 0);
    }

    &.active {
      color: $white;
      background: $green;

      &:hover {
        background: $red;
      }
    }
  }
}
