@import "mixins";
@import "variables";

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: 'Questrial', Arial;
}

.project-barataria {
  height: 100%;
  width: 100%;

  .view {
    height: inherit;
    width: inherit;
  }

  @import "map-view";
  @import "header-component";
  @import "filter-component";
  @import "detail-component";
  @import "carousel-component";
}
