<div class="map-view">
  <div data-header
      data-filter-opened="filterOpened"></div>
  <div data-ng-if="filterOpened"
      data-filter></div>
  <div data-modal-dialog
      data-visible="popupOpened"
      data-title="{{ detail.title }}"
      data-modal-id="detailsModal">
    <div data-detail
        data-description="{{ detail.description }}"
        data-links="detail.links"
        data-images="detail.images"></div>
  </div>
  <div class="map"
      data-ng-class="{
        'filter-opened': filterOpened
      }"
      data-ng-click="openDetail(item)">
    Show detail popup
  </div>
</div>
