<div class="filter-component">
  <div class="filter-wrapper">
    <div data-loading
        data-ng-if="!filters.length"></div>
    <div class="filter-branch"
        data-ng-if="filters.length"
        data-ng-repeat="filter in filters">
      <div class="branch-label"
          data-ng-click="toggleBranch(filter)">
        <span class="branch-caret fa"
            data-ng-class="{
              'fa-caret-down': filter.expanded,
              'fa-caret-right': !filter.expanded
            }"></span>
        {{filter.label}}
      </div>
      <div class="values-container"
          data-ng-if="filter.expanded">
        <div data-ng-if="filter.type === 'checkbox'">
          <div class="value-wrapper"
              data-ng-repeat="value in filter.values"
              data-ng-click="toggleValue(value)">
            <span class="value-checkbox"
                data-ng-class="{
                  'checked fa fa-check': value.checked
                }">
            </span>
            <span class="value-label">{{value.label}}</span>
          </div>
        </div>
        <div class="value-date-range"
            data-ng-if="filter.type === 'date'">
          From {{filter.value.selected[0]}} to {{filter.value.selected[1]}}
          <div class="value-slider"
              data-ui-slider="{range: true}"
              data-step="1"
              data-min="{{filter.value.min}}"
              data-max="{{filter.value.max}}"
              data-ng-model="filter.value.selected">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="button button-big apply-button"
      data-ng-click="applyFilters()">
    Apply Filters
  </div>
</div>
